<h1>User</h1>

<table>
  <tr>
    <th>List of Users</th>
    <th></th>
    <th></th>
  </tr>

  <% @users.each do |user| %>
  <tr>
    <% if user.uid.present? %>
    <td><%= image_tag Twitter.user(user.uid.to_i).profile_image_url %></td>
    <% elsif user.image.present? %>
      <td><%= image_tag user.image.url(:thumb) %></td>
    <% else %>
      <td>No image yet</td>
    <% end %>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>