<h1>
	<% if @user.uid.present? %>
  	<%= image_tag Twitter.user(@user.uid.to_i).profile_image_url %>
  <% elsif @user.image.present? %>
    <%= image_tag @user.image.url(:thumb) %>
  <% else %>
  	No image yet
  <% end %>
	<%= @user.name %>
</h1>
<%= link_to 'Edit Profile', edit_user_path(@user) %>


<div><strong>What <%= @user.name %> have been saying:</strong></div>
<table>

<% @user.events.each do |event| %>

  <div>
    <div><%= link_to event.description, event %><div>
    <div><img width="300" height="300" src=  "<%= event.link %>" ></div>
      <div><%= link_to 'Edit', edit_event_path(event) %></div>
      <div><%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      <div><%= time_ago_in_words(event.created_at) %> ago </div>

  </div>
<% end %>
</table>

