<%= form_for @event do |f| %>
	
	<div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.text_field :link %> <%= f.label :link %>
  </div>

  <div class="actions" id="refreshevents">
	 <%= f.submit "Post it!", class: 'btn btn-primary' %>
<% end %>