<!DOCTYPE html>
<html>
<head>
	<title>StalkMe</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
 
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script> 
  
</head>
<body>

<div class="container span12">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">Stalker</a>
          <ul class="nav">
            <% if user_signed_in? %>
            <li class="active"><%= link_to "Events", events_path %> </li>
          </ul>
            <ul class="nav pull-right">  
            <li>Hello, <%= current_user.name %>!</li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            </ul>
            <% else %>
            <ul class="nav">
            <li><%= link_to "Sign In", new_user_session_path %></li>
            </ul>
          <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
   <%= yield %>
 </div> 
   
</body>
</html>
