<!DOCTYPE html>
<html>
<head>
	<title>StalkMe</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
 
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script> 
  
</head>

<body <%= (params[:controller] == 'devise/sessions' && params[:action] == 'new') ? 'id=background' : '' %>>

<div class="navbar navbar-fixed-top navbar-inner">
  <div class="navbar-inner">
    <div class="container" >
      <%= link_to "Stalker", root_path, :class => 'brand' %>
        <ul class="nav">
          <% if user_signed_in? %>
          <li class="<%= 'active' if params[:controller] == 'events' %>"><%= link_to "Events", events_path %> </li>
            <% if current_user %>
              <li class="<%= 'active' if params[:controller] == 'users' %>"><%= link_to "Profile", user_path(current_user) %></li>
            <% end %>
        </ul>
          <ul class="nav pull-right">  
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          </ul>
          <% else %>
          <ul class="nav">
            <%- if devise_mapping.omniauthable? %>
            <%- resource_class.omniauth_providers.each do |provider| %>
              <li><%= link_to "Have an account? Sign in here!", omniauth_authorize_path(resource_name, provider) %></li>
            <% end -%>
          
          </ul>
        <% end %>
          <% end %> 
    </div>
  </div>
</div>

<div class="container">
   <%= yield %>
 </div> 
 
</body>
</html>
